//// 36hair styles
#landing-wrapper{
	padding: 0;
	background-color: $primary-color;
	min-height: 100%;
}

.carousel-item {
  // position: relative;
  height: 100%;
  max-height: 720px;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;

  h1 {
    font-family: $primary-font;
  }

  p {
    font-size: 1.5rem;
  }
}

.darken {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    )
}

#fb-outer-wrapper{
	padding: 60px 0;
	background-color: #fff;
}

#fb-inner-wrapper{
	margin: 0 auto;
	width: 280px;
	.fb-page{
		border-top: 40px solid #000;
		border-bottom: 40px solid #000;
		border-left: 10px solid #000;
		border-right: 10px solid #000;
		border-radius: 20px;
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px){
	.display-1{
		font-size: 4rem;
	}
}
