// about styles

#about-wrapper{
	padding: 50px 0px;
	text-align: center;
	color: #fff;
	margin: 0 auto;
}

#avatar-wrapper{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 30px;
	img{
		width: 150px;
		position: relative;
		top: -15px;
	}
}
