//// Contact styles
#contact-info{
	padding: 60px 0 80px;
	text-align: center;
}

#form-wrapper {
  max-width: 460px;
  margin: 0 auto;
}

#second-contact-wrapper{
	margin: 0 auto;
}

#tag-line{
	padding: 40px 0px 40px;
}

#hours{
	text-align: center;
	padding-bottom: 40px;
	p{
		margin: 5px;
	}
}
