//// Nav styles

.social-icon {
  list-style-type: none;
  margin: 5px 5px;
  display: inline-block;
  font-size: 20px;
}

#top-nav {
  z-index: 1000;
  width: 100%;

  ul {
    text-align: center;
    margin: 0 auto;
  }

  a {
    color: #fff;
		font-family: $montserrat;
		font-weight: lighter;
		font-size: 1rem
  }
}

nav {
  font-family: $primary-font;
  font-size: 1.5rem;

  .navbar-brand {
    font-size: 2rem;
  }
}

.navbar-toggler {
  margin: 0 auto;
}



.nav-link{
	width: 120px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	&:before{
		transition: opacity 0.3s ease;
		opacity: 0;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background-image: url("assets/Menu-Item-Est-1947.svg");
		background-repeat: no-repeat;
		background-position: center;
		content: "";
	}
	&:hover{
		&:before{
			opacity: 1;
		}
	}
}

.nav-hover{

}


// Small devices (landscape phones, less than 768px)
@media (max-width: 801px) {
	#info{
		position: absolute;
		top: 8px;
		right: 16px;
	}
	#top-nav-social{
		position: absolute;
		top: 8px;
		left: 16px;
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){
	.navbar-toggler{
		margin-top: 40px;
	}
}
