//// Nav styles
// #topHeader {
//   color: #fff;
//   font-family: $roboto;
//   padding: 5px 25px;
//
//   ul, a {
//     margin: 0;
//   }
//
//   a {
//     font-size: 1rem;
//     color: #fff;
//
//     span {
//       padding-right: 5px;
//     }
//   }
// }

.social-icon {
  list-style-type: none;
  margin: 5px 5px;
  display: inline-block;
  font-size: 20px;
}

#top-nav {
  z-index: 1000;
  width: 100%;

  ul {
    text-align: center;
    margin: 0 auto;
  }

  a {
    color: #fff;
		font-family: $montserrat;
		font-weight: lighter;
		font-size: 1rem
  }
}

nav {
  font-family: $primary-font;
  font-size: 1.5rem;

  .navbar-brand {
    font-size: 2rem;
  }
}

.navbar-toggler {
  margin: 0 auto;
}

.nav-pills{
	width: 150px;
	text-align: center;
	margin: 0 auto;
	border-radius: 20px;
	transition: background-color 0.5s ease;
	&:hover{
		background-color: #595959;
	}
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 801px) {
	#info{
		position: absolute;
		top: 8px;
		right: 16px;
	}
	#top-nav-social{
		position: absolute;
		top: 8px;
		left: 16px;
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){
	.navbar-toggler{
		margin-top: 40px;
	}
}
