<% include ../partials/header.ejs %>
<% include ../partials/nav-bar.ejs %>

<% include ../partials/dashboard.ejs %>

<div id="" class="container">
	<div class="row">
		<div id="" class="col-10">
			<p class="lead">Add a new treatment</p>
			<form action="/treatments/new" method="POST">
				<div class="form-group">
			    <label for="#add-treatments-group">New treatment group<br>
					(styling, treatments, creative, extensions)</label>
			    <input name="treatment[group]" class="form-control" id="add-treatment-group">
			  </div>
				<div class="form-group">
			    <label for="add-treatments-name">New treatment name</label>
			    <input name="treatment[name]" class="form-control" id="add-treatment-name">
			  </div>
				<div class="form-group">
			    <label for="#add-treatments-price">New treatment price</label>
			    <input name="treatment[price]" class="form-control" id="add-treatment-price">
			  </div>
				<div class="form-group">
			    <label for="add-treatments-desc">New treatment description</label>
			    <textarea name="treatment[desc]" class="form-control" id="add-treatment-desc" rows="3"></textarea>
			  </div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>

<% include ../partials/footer.ejs %>
