<div class="container">
	<div class="row">
		<div id="about-wrapper" class="col-10 col-md-8">
				<div id="avatar-wrapper">
					<img src="assets/avatar.jpg" alt="">
				</div>
				<h2>About me...</h2>
				<p>I have been working as a stylist for at least 15 years! 2 years ago I took the plunge & opened my own place, it’s everything i dreamed it could be. I’ve worked hard to keep my little salon a cosy & relaxed space for clients to come, and have a personalised service to them. My clients aren’t just a number to me or replaceable, my clients are my friends & that’s what makes my job so great! So why not pop in & put your feet up with a cuppa & see what we’re all about!! </p>
		</div>
	</div>
</div>
