<div id="testimonials" class="d-none d-sm-block">
	<div class="container">
		<h2>...and what clients said about me...</h2>
		<div class="row">
			<div id="carouselTestimonialSlidesOnly" class="carousel slide" data-ride="carousel">
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <div class="bubble">
							<p>Jem is a wizard at both cutting & colouring hair. I swear she once cut my hair & made it longer. I have never left the salon unhappy and Jem works really hard to provide a really fantastic service. I would highly recommend going here, friendly atmosphere, great service and amazing results every time. Thanks Jem! xxx</p>
			      </div>
			    </div>
			    <div class="carousel-item">
						<div class="bubble">
							<p>Ever since I found Jema a couple of years ago I come religiously. She is a true artist in every sense of the word, and the only stylist who who is not afraid to go for it when given free reign, to the point where sometimes she doesn’t even tell me what I’m having done that day! </p>
			      </div>
			    </div>
			    <div class="carousel-item">
						<div class="bubble">
							<p>Amazing! I love my new Do! Best haircut I have probably ever had! I felt listened to, and got exactly what I wanted. I can’t thank her enough. She was brilliant, really knows her stuff & talks things through fully with you. I will definitely be back. </p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
