<div class="container">
	<div class="row justify-content-between">
			<a class="admin-buttons block-btns float-md-left btn btn-info" href="/treatments">Dashboard</a>
		<div>
			<a class="admin-buttons block-btns btn btn-success" href="/treatments/new">Add Treatment</a>
			<a class="admin-buttons block-btns btn btn-primary" href="/register">Add User</a>
			<a class="admin-buttons block-btns btn btn-danger" href="/logout">Logout</a>
		</div>
	</div>
</div>
