<div id="dashboard" class="container">
	<div class="row align-items-center justify-content-center">
			<a class="admin-buttons block-btns float-md-left btn btn-info" href="/admin">Dashboard</a>
			<a class="admin-buttons block-btns btn btn-success" href="/treatments/new">Add Treatment</a>
			<a class="admin-buttons block-btns btn btn-warning" href="/treatments">Edit Treatment</a>
			<a class="admin-buttons block-btns btn btn-primary" href="/register">Add User</a>
			<a class="admin-buttons block-btns btn btn-danger" href="/logout">Logout</a>
	</div>
</div>
