<div class="container-fluid" id="mail-list-wrapper">
	<div class="container">
		<div class="row">
			<form action="/" method="POST" class="col-md-6" id="mail-list-form">
				<div class="form-group">
					<h3>Join our mailing list for exclusive offers!</h3>
					<label for="mailingEmail">Email address</label>
					<input name="mailingEmail" type="email" class="form-control" id="mailingEmail" aria-describedby="emailHelp" placeholder="Enter email">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
