<nav id="top-nav" class="navbar navbar-expand-lg navbar-light">

	<div id="top-nav-social">
		<ul>
			<li class="social-icon">
				<a href="https://www.facebook.com/Threesixhair666/">
					<i class="fab fa-facebook-f fa-inverse"></i>
				</a>
			</li>
			<li class="social-icon">
				<a href="https://www.instagram.com/threesixhairleeds/">
				  <i class="fab fa-instagram fa-inverse"></i>
				</a>
			</li>
			<li class="social-icon">
				<a href="">
				  <i class="fas fa-envelope fa-inverse"></i>
				</a>
			</li>
		</ul>
	</div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="container">
		<div class="collapse navbar-collapse" id="navbarToggler">
	    <ul class="navbar-nav mt-2 mt-lg-0">
	      <li class="nav-item mr-5">
	        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
	      </li>
	      <li class="nav-item mr-5">
	        <a class="nav-link" href="/treatments">Treatments</a>
	      </li>
	      <li class="nav-item mr-5">
	        <a class="nav-link" href="/contact">Contact</a>
	      </li>
	    </ul>
	  </div>
	</div>

	<div id="info">
		<a href="tel:07546749458"><span>
			<i class="fas fa-phone"></i>
		</span>07716577665</a>
	</div>
</nav>
