#landing {
  height: 100vh;
  text-align: center;
  color: #FFF;
  background: #818181; }
  #landing h1 {
    font-size: 60px; }

#logo {
  height: 80vh;
  background-image: url("assets/18554119_1509207259097646_1769962096_o.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }
