<% include partials/header.ejs %>

<div id="landing">
	<div id="logo" class="container">
	</div>
	<h1>ThreeSizHair</h1>
	<a href="/36hair" class="btn btn-primary">Enter website</a>
</div>

<% include partials/footer.ejs %>
